{% extends 'layout.html' %}

{% block content %}
  <section class="header">
      <h1>R. Kyle kennedy</h1>
      <p>I am currently looking for work as a software developer.</p>
      <img src="https://lh3.googleusercontent.com/5nNMwcgngsQLgdSvqbKz75qpkdYciT6Uv_r74j-3edS2ihHgCjjsQACA-c__FrtQCA-2gTLWFwlaUTbh2SnAzB1fCeN9MK4v8jcTkiBr0LDn76ouUWJxekbprlBiWe8Kx0IN9A3HbMMKaeOTHJBhHhNM1bWL9YVmdQxq5bvYBvFCfPbkz8V60yvFtlWf0GqLWNEck8JvKWFKubhJZ2BS_-T_9YhKC2o647cAiMTUzHAJxS2s3oNMfpN8RV--eAgwffe7PZhXD8rhKQPaCD1ojGnY14YW7E1XuOVEILIITR8crcPGVt0XLviMGjhhE1OyhzvoNeVXQLXj73AyviixAYr3rQ__7RWPQ4RTOO1iVdMd5ROh-j2RgXHk2uJQVNYcgCT-YiJkmcLL1bF1_6TwgNRCuBjxiw5W4a5undqExvwGG3PhGdTNUFheSqo2oNwcX1jgl8qOy1LuO79_GAbXqCSyIS9RdbVn7ZewGJzVv3rCeH77lKtSTapcIFj2IL5SQpLcqEBgQVEO0-9IW12D1Cn4TAwACNOUPrJG5Yo8n1QIbFSVG2M-29McuY3KwRDEPybCoDa-PKH1DCVCbMuCuzujt8wXTd8zY5vaceqVcl8ISEQADc_txXdr6RjXX0e2aGUCMfz50ig_FHsF2Ldb2Af5h3DAwDMb0oQR1e1rFlDW6LUEvCyPpQIgOia282zKdB7D5vk_w9nh7esPG_TJu8I=w1666-h937-no?authuser=0" alt="Headshot of myself">
  </section>
  <section id="about-page">
      <div id="triangle7"></div>
      <div id="triangle8"></div>
      <h2>Education and Training</h2>
      <ul>
        <li>
          Python Devopement Program.
          Treehouse. 2021
        </li>
        <li>
          Full Stack Devopement Program
          Code Fellows. Seattle, WA. 2016
        </li>
        <li>
          Master of Science Adult Learning
          Walden University. Minneapolis, MN. 2013
        </li>
        <li>
          Bachelor of Arts International Studies
          Syracuse University/Utica College. Utica, NY. 2010
        </li>
      </ul>
      <a href="#"><i class="far fa-file"></i>Resume</a>
  </section>
{% endblock %}
