{% extends 'layout.html' %}

{% block content %}
  <section class="header">
      <h1>R. Kyle kennedy</h1>
      <p>I am currently looking for work as a software developer.</p>
      <img src="https://avatars.githubusercontent.com/u/88999702?s=400&u=192c3fdc70b91191b5e63bf3e94869fd209906ed&v=4" alt="Headshot of myself">
  </section>
  <section id="about-page">
      <div id="triangle7"></div>
      <div id="triangle8"></div>
      <h2>Education and Training</h2>
      <ul>
        <li>
          Python Devopement Program.
          Treehouse. 2021
        </li>
        <li>
          Full Stack Devopement Program
          Code Fellows. Seattle, WA. 2016
        </li>
        <li>
          Master of Science Adult Learning
          Walden University. Minneapolis, MN. 2013
        </li>
        <li>
          Bachelor of Arts International Studies
          Syracuse University/Utica College. Utica, NY. 2010
        </li>
      </ul>
      <a href="#"><i class="far fa-file"></i>Resume</a>
  </section>
{% endblock %}
