{% extends 'layout.html' %}

{% block content %}
  <section class="header">
      <h1>{{project.title}}</h1>
      <p>{{project.date.strftime("%B")}} {{project.date.year}}</p>
      <a href="{{project.url}}" target="_blank" class="github-btn">
          <i class="fab fa-github"></i>
          View on GitHub
      </a>
      <ul class="project-skills">
          <div>
            {% for skill in project.skills.split(', ') %}
              <li>{{skill}}</li>
            {% endfor %}
          </div>
      </ul>
  </section>
  <section id="project-desc">
      <div id="triangle5"></div>
      <h2>Description</h2>
      <p>
          {{project.description}}
      </p>
      <div id="triangle6"></div>
  </section>
  <section id="edit-delete">
      <a href="#">
          <i class="fas fa-edit"></i>
          Edit
      </a>
      <a href="{{url_for('update', id=project.id)}}">
          <i class="fas fa-edit"></i>
          Update From Github
      </a>
      <a href="#">
          <i class="far fa-trash-alt"></i>
          Delete
      </a>
  </section>
{% endblock %}
