{% extends 'layout.html' %}

{% block content %}
  <section class="header">
      <h1>Python Developer</h1>
      <p>Debugging is like being the detective in a crime drama where you are also the murderer.</p>
      <img src="https://avatars.githubusercontent.com/u/88999702?s=400&u=192c3fdc70b91191b5e63bf3e94869fd209906ed&v=4" alt="Headshot of myself">
  </section>
  <section id="about">
      <h2>About Me</h2>
      <p>
          I am a software developer living in the Seattle area.
          My favorite part of coding is discovering how something works down to its core and pulling it apart to see what else it can do.
          I have learned to use multiple different programming languages, but my favorite is absoultely Python.
      </p>
      <div id="triangle1"></div>
      <div id="triangle2"></div>
  </section>
  <section id="skills">
      <i class="fas fa-laptop-code"></i>
      <h2>Skills</h2>
      <ul>
          <li>Python</li>
          <li>Flask</li>
          <li>SQLAlchemy</li>
          <li>GitHub</li>
          <li>Visual Studio Code</li>
      </ul>
  </section>
  <section id="projects">
      <div id="triangle3"></div>
      <i class="fas fa-file-code"></i>
      <h2>Projects</h2>
      <div id="project-list">
        {% for project in projects %}
          <div id="project{{project.id}}" class="a-project">
            <h3>{{project.title}}</h3>
            <a href="{{project.url}}" target="_blank" class="github-btn">
              <i class="fab fa-github"></i>
              View on GitHub
            </a>
            <p>
              {{project.description}}
            </p>
            <p>
              Skills: {{project.skills}}
            </p>
          </div>
        {% endfor %}
      </div>
      <div id="triangle4"></div>
  </section>
{% endblock %}
